NODE_ENV=development
PORT=3001
BACKEND_SERVER_NAME=192.168.8.127:8050
DATABASE_URL=postgresql://postgres:postgres@db:6432/app_db
BACKEND_SERVER_URL=http://192.168.8.127:8050
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET_NAME=pi